################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OrionBank/CopilotIndices/0.2.1613.32404
/.vs/OrionBank/FileContentIndex
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/OrionBank/v17
/Src/OrionBank/.vs/OrionBank
/Src/OrionBank/OrionBank.Silo/obj
